# IDE
.vscode/
.venv/
# env/


# Log
*.log

# data
db/
storage/

# temp config
*__resource.json
storage_*.json

# Temp Excel File
~$*.xlsx

# Python
__pycache__
.pytest_cache
allure-result

# Temp
tmp/