WeTest
WeTest[hive]
sqlmodel
email-validator
aiofiles
fastapi[all]
locust
pytest
airtest
pocoui
passlib
bcrypt
python-jose
playwright
apscheduler
pytest-html
pytest-xdist
pytest-sugar
allure-pytest
pytest-repeat
pytest-asyncio
pytest-timeout
pytest-ordering
pytest-dependency
pytest-rerunfailures
pytest-playwright
pytest-playwright-snapshot